/**
 * Reference
 *
 * #content height = window height - 56px (55px for the header, 1px for the border)
 *
 */

/**
 * Global
 */
html {
	margin: 0;
	padding: 0;
	}
	
body {
	color: #222;
	cursor: default;
	font-family: "Lucida Grande", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 13px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	-webkit-user-select: none;
	}
	
a {
	border-bottom: 1px solid #999;
	color: #222;
	cursor: pointer;
	text-decoration: none;
	}

input[type=text], input[type=password] {
	border: 1px solid #999;
	font-size: 14px;
	-webkit-border-radius: 4px;
	}

.clear {
	clear: both;
	}

fieldset {
	border: 1px solid #bbb;
	-webkit-border-radius: 3px;
	margin: 5px 20px 0;
	padding: 10px 10px 5px;
	}
	
legend {
	font-weight: bold;
	}

.hide {
	display: none;
	}

.file {
	height: 100%;
	opacity: 0;
	position: relative;
    width: auto;
    z-index: -10;
	}

.file-wrapper {
	background: url(../images/icons/edit.png) 0 0 no-repeat;
	cursor: pointer;
	display: block;
	height: 16px;
	margin-right: -10px;
	overflow: hidden;
	width: 20px;
	}

/**
 * Custom scrollbar
 */
::-webkit-scrollbar {
    width: 13px;
    height: 13px;
	}

::-webkit-scrollbar-thumb:vertical {
	border-color: transparent;
	border-width: 8px 0;
    min-height: 20px;
	-webkit-border-image: url(../images/osx/scroll-thumb.png) 8 0 8 0 stretch stretch;
	}

::-webkit-scrollbar-corner {
 	display:none;
	}
	
/**
 * Toolbar
 */
h1 {
	font-size: 16px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-shadow: 0 1px 0 #fff;
	-webkit-user-select: none;
	}

h2 {
	font-size: 13px;
	margin: 5px 0 0;
	padding: 0;
	-webkit-user-select: none;
	}
	
#header {
	background: none;
	border-bottom: 1px solid #666;
	height: 55px;
	}
	
	#header a {
		border-left: 2px solid transparent;
		border-right: 2px solid transparent;
		border-bottom: none;
		color: #111;
		cursor: default;
		display: block;
		float: left;
		font-size: 11px;
		padding: 3px 5px 2px;
		text-align: center;
		text-decoration: none;
		text-shadow: 0 1px 0 #ddd;
		-webkit-user-select: none;
		}
		
	#header a.first {
		margin-left: 5px;
		}
	
	#header a.on {
		background: -webkit-gradient(
			linear, 0% 0%, 0% 100%, from(rgba(145,145,145,0.0)), to(rgba(145,145,145,0.0)), color-stop(.4,rgba(125,125,125,0.3)), color-stop(.6,rgba(125,125,125,0.3))
		);
		border-width: 0 2px;
		-webkit-border-image: url(../images/osx/bg-toolbar-border.png) 0 2;
		}
	
	#header span {
		display: block;
		padding-top: 2px;
		}

#main {
	background: #f1f1f1;
	clear: both;
	margin: 0;
	}
	
#login {
	background: url(../icon-big.png) 28px 17px no-repeat;
	border-top: 1px solid #666;
	height: 257px;
	padding: 17px 35px 0 75px;
	}

	#login div {
		clear: both;
		padding: 10px 0 0;
		}
	
	#login div.login-top {
		padding-top: 25px;
		}
	
	#login div.login-submit {
		padding-top: 25px;
		text-align: right;
		}
	
	#login div span {
		display: block;
		float: left;
		padding: 3px 10px 0 0;
		text-align: right;
		vertical-align: middle;
		width: 90px;
		}
	
	#login-error {
		color: #9F0003;
		float: right;
		font-size: 11px;
		padding-top: 5px;
		}
	
#panel p {
	margin: 0;
	padding: 5px 30px;
	}
	
#content {
	padding: 10px 0 0;
	}
	
	.general #content {
		height: 134px; /* 144px - 10px pad */
		}
	
	.account #content {
		height: 169px;
		}
	
	.notifications #content {
		height: 214px;
		}
	
	.services #content {
		height: 154px;
		}
	
	.about #content {
		background: url(../icon-big.png) 28px 17px no-repeat;
		height: 262px;
		padding: 17px 35px 0 75px;
		}
	
	#content #form-general {
		padding: 10px 0 0 65px;
		}
		
	#content #form-general span, fieldset span {
		display: block;
		padding: 0 0 5px;
		}
	
	#content #form-split {
		padding: 10px 0 0 25px;
		}
	
	#content #form-split span {
		display: block;
		padding: 0 0 10px;
		}

	#content #form-split i {
		display: block;
		float: left;
		font-style: normal;
		padding-right: 10px;
		text-align: right;
		width: 125px;
		}
	
	#content #form-split b, #content #form-split em {
		display: block;
		float: left;
		font-style: normal;
		font-weight: normal;
		}
	
		#content #form-split img {
			cursor: pointer;
			margin-left: 5px;
			}
	
	#content #form-split input {
		font-size: 16px;
		}