/**
 * Reference
 *
 * #content height = window height - 56px (55px for the header, 1px for the border)
 *
 */

/**
 * Global
 */
html {
	margin: 0;
	padding: 0;
	}
	
body {
	color: #222;
	cursor: default;
	font-family: "Lucida Grande", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 13px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	-webkit-user-select: ignore;
	}
	
a {
	border-bottom: 1px solid #999;
	color: #222;
	cursor: pointer;
	text-decoration: none;
	}

/**
 * Custom scrollbar
 */
::-webkit-scrollbar {
    width: 13px;
    height: 13px;
	}

::-webkit-scrollbar-thumb:vertical {
	border-color: transparent;
	border-width: 8px 0;
    min-height: 20px;
	-webkit-border-image: url(../images/osx/scroll-thumb.png) 8 0 8 0 stretch stretch;
	}

::-webkit-scrollbar-corner {
 	display:none;
	}
	
/**
 * Toolbar
 */
h1 {
	font-size: 16px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-shadow: 0 1px 0 #fff;
	}

h2 {
	font-size: 13px;
	margin: 5px 0 0;
	padding: 0;
	}
	
#header {
	background: none;
	border-bottom: 1px solid #666;
	height: 55px;
	}
	
	#header a {
		border-left: 2px solid transparent;
		border-right: 2px solid transparent;
		border-bottom: none;
		color: #111;
		cursor: default;
		display: block;
		float: left;
		font-size: 11px;
		padding: 3px 5px 2px;
		text-align: center;
		text-decoration: none;
		text-shadow: 0 1px 0 #ddd;
		-webkit-user-select: none;
		}
		
	#header a.first {
		margin-left: 5px;
		}
	
	#header a.on {
		background: -webkit-gradient(
			linear, 0% 0%, 0% 100%, from(rgba(145,145,145,0.0)), to(rgba(145,145,145,0.0)), color-stop(.4,rgba(125,125,125,0.3)), color-stop(.6,rgba(125,125,125,0.3))
		);
		border-width: 0 2px;
		-webkit-border-image: url(../images/osx/bg-toolbar-border.png) 0 2;
		}
	
	#header span {
		display: block;
		padding-top: 2px;
		}

#main {
	background: #f1f1f1;
	clear: both;
	margin: 0;
	}
	
#content {
	padding: 10px 0 0;
	}
	
	.general #content {
		height: 134px; /* 144px - 10px pad */
		}
	
	.account #content {
		height: 284px;
		}
	
	.carrier #content, .notifications #content {
		height: 234px;
		}
	
	.about #content {
		background: url(../icon-big.png) 28px 17px no-repeat;
		height: 247px;
		padding: 17px 30px 0 75px;
		}
	
	#content #form-general {
		padding: 10px 0 0 75px;
		}
	
	#content .form span {
		display: block;
		padding: 0 0 5px;
		}