/**
 * Global
 */
html {
	margin: 0;
	padding: 0;
	}
	
body {
	font-family: "Lucida Grande", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 13px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	}

/**
 * Custom scrollbar
 */
body.mac ::-webkit-scrollbar {
    width: 13px;
    height: 13px;
	}

body.mac ::-webkit-scrollbar-thumb:vertical {
    height: 56px;
    -webkit-border-image: url(../images/osx/scroll-thumb.png) 8 0 8 0 stretch stretch;
    border-width: 8 0 8 0;
	}

body.mac ::-webkit-scrollbar-thumb:horizontal {
    width: 56px;
    -webkit-border-image: url(../images/osx/scroll-thumb-horizontal.png) 0 8 0 8;
    border-width: 0 8 0 8;
	}

body.mac ::-webkit-scrollbar-corner {
 	display:none;
	}
	
/**
 * Toolbar
 */
h1 {
	font-size: 16px;
	font-weight: normal;
	}
	
#header {
	background: none;
	border-bottom: 1px solid #666;
	height: 55px;
	}
	
	#header a {
		border-left: 2px solid transparent;
		border-right: 2px solid transparent;
		color: #111;
		cursor: default;
		display: block;
		float: left;
		font-size: 11px;
		padding: 3px 5px 2px;
		text-align: center;
		text-decoration: none;
		text-shadow: 0 1px 0 #ddd;
		}
		
	#header a.first {
		margin-left: 5px;
		}
	
	#header a.on {
		background: -webkit-gradient(
			linear, 0% 0%, 0% 100%, from(rgba(145,145,145,0.0)), to(rgba(145,145,145,0.0)), color-stop(.4,rgba(125,125,125,0.3)), color-stop(.6,rgba(125,125,125,0.3))
		);
		/*border-left: 1px solid #999;
		border-right: 1px solid #999;*/
		border-width: 0 2px;
		-webkit-border-image: url(../images/osx/bg-toolbar-border.png) 0 2;
		}
	
	#header span {
		display: block;
		padding-top: 2px;
		}

#main {
	background: #f1f1f1;
	clear: both;
	height: 100%;
	padding: 10px;
	margin: 0;
	}